[submodule "/Users/tu/dotfiles/vimfiles/vundle.git"]
	path = /Users/tu/dotfiles/vimfiles/vundle.git
	url = http://github.com/gmarik/vundle.git
[submodule ".\\vimfiles\\vundle.git"]
	path = .\\vimfiles\\vundle.git
	url = http://github.com/gmarik/vundle.git
