set clipboard=unnamed " clipboard options
set hlsearch          " highlight matches with last search pattern
set ignorecase        " ignore case in search patterns
set incsearch         " show where search pattern typed so far matches
set scrolloff=10      " minimum nr. of lines above and below cursor
set showmode          " message on status line to show current mode
set smartcase         " no ignore case when pattern has uppercase
set surround          " emulates vim-surround

" JIS 配列 C-[ で Esc
inoremap <C-]> <Esc>

" ノーマルモード中にEnterで改行
noremap <CR> i<CR><Esc>

" インサートモードの移動
inoremap <C-h> <Left>
inoremap <C-l> <Right>
inoremap <C-n> <Down>
inoremap <C-p> <Up>

" もう一度やる
nnoremap U <C-r>

" マッチ文字列が画面の真ん中にくるようにする
nmap n nzz
nmap N Nzz
nmap * *zz
nmap # #zz
nmap g* g*zz
nmap g# g#zz

" vv で行末まで選択
vnoremap v ^$h

" 選択範囲のインデントを連続して変更
vnoremap < <gv
vnoremap > >gv

" search
map gr :action ShowUsages<CR>

" navigate
map ;j :action SearchEverywhere<CR>
map ;o :action FileStructurePopup<CR>
map ;m :action RecentFiles<CR>
map ;f :action GotoFile<CR>

" Golang
map <Space>f :action GoFmtFileAction<CR>
map <Space>i :action GoImportsFileAction<CR>

